<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark pink">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a  class="Shadow justify-content-sm-left"  href="#">A </a> <a href="#" class="d-none d-lg-block d-sm-none"><h2 class="ml-2" style="color: cyan; background-color: transparent">Amol Satav</h2></a>   
    
  
    <div class="collapse navbar-collapse justify-content-lg-center" id="navbarTogglerDemo03">
      <ul class="navbar-nav  mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link " href="#">Important</a>
            </li>
      </ul>
      <div class="input-group pl-0 col-lg-4">
          <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
              <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search text-grey" aria-hidden="true"></i></span>
          </div>
      </div>
    </div>
      <form class="form-inline my-2 my-lg-0 justify-content-lg-right align-items-end">
             <button type="submit" class="btn btn-outline-info my-2 my-sm-0" style="border-radius: 25px;">Sign in</button>
</form>
       

            
      
      
      
    
  </nav>